@import url('https://fonts.googleapis.com/css?family=Benne');
@import url('https://fonts.googleapis.com/css?family=Parisienne');
@import url('https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff');

.App {
  text-align: center;
  box-sizing: border-box;
}

h3 {
  font-family: "Benne", serif;
  font-size: 24px;
}

h2 {
  font-family: "Benne", serif;
  font-size: 60px;
}

hr {
  width: 90%;
}